body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#admin-screen ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
}

#admin-screen ul li {
    margin: 5px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#admin-screen ul li button {
    align-self: flex-start;
}

#game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#game-screen button {
    width: 200px;
}
